<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.biz.board.dao.BoardDAO">
	
	<select id="getBoardList_T" parameterType="string" resultType="boardVO">
		SELECT * 
		FROM BOARD 
		WHERE TITLE LIKE '%'|| #{searchKeyword} ||'%' 
		ORDER BY SEQ DESC
	</select>
	<select id="getBoardList_C" parameterType="string" resultType="boardVO">
		SELECT * 
		FROM BOARD 
		WHERE CONTENT LIKE '%'|| #{searchKeyword} ||'%' 
		ORDER BY SEQ DESC
	</select>
	
	<!-- 동적으로 비교처리 -->
	<select id="getBoardList" parameterType="boardVO" resultType="boardVO">
		SELECT *
		FROM BOARD
		WHERE 1=1
		<if test='searchCondition == "TITLE" and searchKeyword != ""'>
			AND TITLE LIKE '%'|| #{searchKeyword} ||'%' 
		</if>
		<if test='searchCondition == "CONTENT" and searchKeyword != ""'>
			AND CONTENT LIKE '%'|| #{searchKeyword} ||'%' 
		</if>
		ORDER BY SEQ DESC
	</select>
	<select id="getBoard" parameterType="boardVO" resultType="boardVO">
		SELECT *
		FROM BOARD
		WHERE SEQ = #{seq}
	</select>
	
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO BOARD (SEQ, TITLE, WRITER, CONTENT, REGDATE)
		VALUES ((SELECT NVL(MAX(SEQ),0) + 1 FROM BOARD), #{title}, #{writer}, #{content}, SYSDATE)
	</insert>
	
	<update id="updateBoard" parameterType="boardVO">
		UPDATE BOARD 
		SET TITLE = #{title}, WRITER = #{writer}, CONTENT = #{content} 
		WHERE SEQ = #{seq} 
	</update>
	
	<update id="updateCntBoard" parameterType="boardVO">
		UPDATE BOARD 
		SET CNT = #{cnt}
		WHERE SEQ = #{seq} 
	</update>
	
	<delete id="deleteBoard" parameterType="boardVO">
		DELETE FROM BOARD WHERE SEQ = #{seq}
	</delete>
</mapper>





